*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* HEADER */
body{
	font-family: Arial, sans-serif;
}
/* HEADER */
.container{
	margin: 0 auto;
	background-color: lightgrey;
	text-align: center;
	padding: 10px;
	object-fit: cover	;
}

ul {
list-style-type: none;
}

main {
	width: 800px;
	margin: 0 auto;
}
.top-element {
	text-align: center;
	margin: 15px 0;
	padding: 15px;
}

.bg-grey {
	background-color: #edf2f7;
}

.btn {
	background-color: #09a9ed;
	border: 0;
	color: white;
	border-radius: 5%;
	padding: 10px
	
}
.blue{
	background-color: #09a9ed;
}

.input{
	border-radius: 5%;
	padding: 10px;
	border: 0;
}



/* .inp-btn{
	text-align: center;
	margin: 15px;
	background-color: lightgrey;
} */

.lista-1{
	font-size: 30px;
	margin: 30px;
	
}
.all-button{
	padding: 5px;
	border-radius: 5%;
	border: 0;
	background-color: #2cc6ab;

}
.figlio-lista{
	background-color: white;
	border: 1px solid;
	width: 700px;
	border: 0;
	border-radius: 5%;
	margin: 20px;
	padding: 10px;
}
.lista-interna{
	background-color: white;
	border: 1px solid black;
	width: 700px;
	border: 0;
	border-radius: 5%;
	margin: 20px;
	padding: 10px;
}
